.btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 23px 30px;
	font-family: $font;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	user-select: none;
	transition: background 0.3s ease,box-shadow 0.3s ease;
	background: $blue;
	color: #FFF;
	@include res(m){
		font-size: 14px;
		padding: 20px 25px;
	}

	&:focus {
		outline: none;
	}

	&:hover,&:focus{
		background: #21a1ff;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}

	&:active{
		background: $blue;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


.btn--white{
	background: #FFF;
	color: $black;

	&:hover,&:focus{
		background: $gray-border;
	}

	&:active{
		background: #FFF;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	}
}