@font-face {
	font-family: 'Muller';
	src: url('../fonts/hinted-subset-MullerRegular.woff2') format('woff2'),
	url('../fonts/hinted-subset-MullerRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/hinted-subset-MullerBold.woff2') format('woff2'),
	url('../fonts/hinted-subset-MullerBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/hinted-subset-MullerExtraBold.woff2') format('woff2'),
	url('../fonts/hinted-subset-MullerExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/hinted-subset-MullerMedium.woff2') format('woff2'),
	url('../fonts/hinted-subset-MullerMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

