//logos-grid
.logos-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: $gutter*2;
	@include res(s){
		grid-gap: $gutter;
	}
	@include res(xs){
		grid-gap: 5px;
	}
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $polar-star;
	border-radius: 10px;
	height: 128px;
	@include res(l){
		height: 100px;
	}
	@include res(m){
		height: 80px;
	}
	@include res(xs){
		height: 50px;
	}

	img{
		flex-shrink: 0;
		max-width: 75%;
		max-height: 80%;
	}
}
//logos-grid


//s-station-params
.s-station-params{
	background: $snow;
	border-top: 1px solid $polar-star;
	border-bottom: 1px solid $polar-star;
}

.station-params{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 843px - 120px;
	position: relative;
	z-index: 2;
	@include res(xl){
		min-height: initial;
	}

	.h2-promo{
		margin-bottom: 1em;
		max-width: 660px;
	}

	.doc-block{
		margin-top: auto;
		max-width: 310px;
	}
}

.station-params__img{
	position: absolute;
	z-index: 1;
	pointer-events: none;
	user-select: none;
	bottom: 0;
	right: 0;
	max-width: 63%;
	@include res(m){
		display: none;
	}
}
//s-station-params


//station-dop-grid
.station-dop-grid{
	margin-bottom: -$gutter*2;
	.station-dop{
		margin-bottom: $gutter*2;
	}
}

.station-dop{
	text-align: center;

	img{
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	.h3{
		margin-bottom: 1em;
	}

	.text-long{
		@include res(xl){
			font-size: 14px;
		}
		@include res(l){
			font-size: 12px;
		}
	}
}
//station-dop-grid


//station-komplect
.station-komplect{
	position: relative;
}

.station-komplect__img{
	display: block;
	position: relative;
	left: -8%;
	margin-bottom: -100px;
	@include res(xl){
		margin-bottom: -80px;
	}
	@include res(c){
		width: 100%;
	}
	@include res(l){
		margin-bottom: -60px;
	}
	@include res(m){
		left: 0;
		margin-bottom: 0;
	}
}

.station-komplect__info{
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, #FFFFFF 68.16%, rgba(255, 255, 255, 0.326121) 91.46%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
	padding-top: 90px;
	display: flex;
	justify-content: flex-end;
	@include res(c){
		padding-top: 60px;
	}
	@include res(l){
		padding-top: 40px;
	}
	@include res(m){
		position: relative;
		width: 100%;
		padding-top: 0;
		justify-content: flex-start;
		background: none;
		margin-top: -30px;
	}
	@include res(xs){
		margin-top: 0;
	}
}

.station-komplect__info--left{
	justify-content: flex-start;
	right: initial;
	left: 0;
	background: linear-gradient(to right, #FFFFFF 68.16%, rgba(255, 255, 255, 0.326121) 91.46%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
}

.station-komplect__content{
	width: 400px;
	@include res(l){
		width: 300px;
	}
	@include res(m){
		width: 100%;
	}

	p{
		margin-top: 1em;
		@include res(c){
			font-size: 14px;
		}
		@include res(l){
			font-size: 12px;
		}
	}
}
//station-komplect