.anim{
	opacity: 0;
	transition: opacity 1s ease-out,transform 1s ease-out;
	@include res(l){
		opacity: 1 !important;
		transform: none !important;
	}

	&--bottom{
		transform: translate3d(0,35px,0);
	}

	&--right{
		transform: translate3d(16px,0,0);
	}

	&.animated{
		opacity: 1;
		transform: none;
	}
}

.anim-stagger{
	opacity: 0;
	transition: opacity 1s ease-out,transform 1s ease-out;
	@include res(l){
		opacity: 1;
		transform: none;
	}

	&.animated{
		opacity: 1;
		transform: none;
	}
}