.side-tabs{
	display: flex;
	align-items: flex-start;
	@include res(s){
		flex-direction: column;
	}
}

.side-tabs__nav{
	width: calc(100% / 3);
	flex-shrink: 0;
	@include res(s){
		width: 100%;
	}
}

.side-tabs__content{
	width: calc(100% / 3 * 2);
	flex-shrink: 0;
	position: relative;
	padding-left: 64px;
	@include res(l){
		padding-left: 36px;
	}
	@include res(m){
		padding-left: 24px;
	}
	@include res(s){
		padding-left: 0;
		width: 100%;
	}
}

.side-tabs__nav__item{
	position: relative;
	margin-bottom: 1em;
	cursor: pointer;
	color: $text-light-grey;
	transition: all 0.3s ease;
	padding-left: 56px;
	@include res(l){
		padding-left: 40px;
	}
	@include res(xs){
		font-size: 14px;
	}

	&:hover{
		color: $text-night;

		&:before{
			transform: scale3d(1,1,1);
		}
	}

	&:before{
		content: '';
		position: absolute;
		top: 0.5em;
		left: 0;
		width: 32px;
		height: 1px;
		background: $text-inactive;
		transform: scale3d(0.5,1,1);
		transform-origin: right center;
		transition: all 0.3s ease;
		@include res(l){
			width: 24px;
		}
	}

	&.active{
		color: $text-night;

		&:before{
			transform: scale3d(1,1,1);
			height: 2px;
			background: $azure-focus;
		}
	}
}

.side-tabs__content__item{
	display: none;
	@include res(xs){
		font-size: 12px;
	}

	&.active{
		display: block;
	}

	p{
		margin-bottom: 0.5em;
	}
}