.flickity-prev-next-button{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	opacity: 1;
	background: $snow;
	color: $azure;
	transition: all 0.3s ease;
	@include res(m){
		width: 40px;
		height: 40px;
	}

	.flickity-button-icon{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover{
		background: $polar-star;
		opacity: 1;
		color: $azure-focus;
	}

	&:focus{
		box-shadow: none;
		background: $polar-star;
		opacity: 1;
		color: $azure-focus;
	}

	&:disabled{
		pointer-events: all;
		opacity: 1;
		background: $snow;
		color: $silver-moon;
	}
}